.MazeContainer{
  background-color: #282c34;
  color: aliceblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .errors{
    height: 20px;
    margin: 15px;
  }

  .maze {
    margin: 10px;
    background: aliceblue;
    display: grid;
    grid-gap: 2px;
    border: 2px solid aliceblue;
    div {
      background: #282c34;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .path{
      background: rgba(255, 0, 0, 0.5);
    }
    .start{
      background: rgba(0, 128, 0, 0.5);
    }
    .finish{
      background: rgba(255, 0, 0, 0.5);
    }
    .openStart{
      background: rgba(0, 128, 0, 0.5);
    }
    .open{
      background: rgba(0, 0, 139, 0.5);
    }
    .wall{
      background: #282c34;
    }
  }

  .manegeButtons{
    display: grid;
    grid-template-columns: repeat(6, 70px);
    grid-template-rows: repeat(1, 70px);
    grid-gap: 2px;
    justify-content: center;

    button{
      color: aliceblue;
    }
    .manage{
      color: #282c34;
    }
    .open{
      background: darkblue;
    }
    .start{
      background: rgba(0, 128, 0, 0.5);
    }
    .wall{
      background: #282c34;
    }
    .selected{
      border: 2px solid aliceblue;
    }
  }
}

